<app-navbar > 

    
</app-navbar>
<!-- <app-accesso (id)="getUserId($event)" (logged)="getLogged($event)"></app-accesso> 
<ng-container *ngIf="userLogged"><app-todo-list (select)="getList($event)"(load)="getLoad($event)" [toDoId]="userId"></app-todo-list></ng-container> 

<app-summary  *ngIf="userLogged" [load]="load" [userToDoId]="userId" [loggedData]="userLogged"> </app-summary>  -->
<router-outlet> </router-outlet> 

<!---la proprietà dentro app.accesso.ts che è stata emessa è ID, tramite event binding facciamo partie la fuzione del componente padre -->
<!--la proprietà creata nel componente figlio todo-list viene ricevuta dal valore di userId --->